--_old_projects

/*.lnk

/*.apk

/*/build/

/*/dist/

/1project*
/project*

*.log

/resources

/resources/*

/bin/--_notes/*.txt

/bin/--_notes/*.png

/bin/--_notes/*.pdf

!/bin/--_notes/*.7z

!/resources/--_notes/*.*

/bin/*.keystore

/bin/password.txt

/bin/random_password.txt
